body {
    font-size: 0.9em;
}

#accordion {
    width: 855px;
    float: left;
    height: 600px;
}

#accordion div {
height: 430px;
}

.accordion-Testimonials div{
    height: 490px !important;
}

#tabs {
    /*width: 600px;*/
    min-height: 600px;
    /*float: left;*/
}

section {
    margin-bottom: 50px;
}

.photos {
    width: 150px;
    border:1px solid #808080;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    float: left;
    margin: 0 20px 10px 0;
}

footer {
    clear: both;
}
