* { margin: 0; padding: 0; font-family: Helvetica;
}

#FisherForm {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup_visible #FisherForm {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

#CommonsForm {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup_visible #CommonsForm {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

#LibraryForm {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup_visible #LibraryForm {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

#SwartsForm {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup_visible #SwartsForm {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

#DivPopup {
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:solid 2px black;
    max-height: 800px;
    max-width: 800px;
    background: white;
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);

    color: black;
    padding: 10px;
}

#DivPopupId {
    font-size: 25px;
}

.popup_visible #SwartsPopup{
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

#BlaisdellForm {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup_visible #BlaisdellForm {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

#ResidenceForm {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup_visible #ResidenceForm {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

#OutdoorsStone {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup_visible #OutdoorsStone {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

#OutdoorsForm {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}
.popup_visible #OutdoorsForm {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}

#ChapelForm {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}
.popup_visible #ChapelForm {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}

.LiLink {
  color: black; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

table
        {
            font-size: 18px;
            border-collapse: collapse;
            display: block;
            float: left;
        }

#viewTable
        {
            font-size: 18px;
            border-collapse: collapse;
            display: block;
            width: 100%;
        }

.ChapelWall
        {
            font-size: 18px;
            border-collapse: collapse;
            display: block;
            float: left;
        }

    .ChapelWall td {
            width: 287px;
    }

.ChapelWall tr:first-child{
    background: yellow;
}

#viewTable tr:first-child {
    white-space:nowrap;
}

    table caption {
        font-weight: bold;
    }
        table th
        {
            color: #333;
            font-weight: bold;
        }
        table th, table td
        {
            border: 1px solid black;
            padding: 10px 10px 10px 10px;
            text-align: center;
        }

tr.rowOdd {
    background: #E8E8E8;
}
tr.rowEven {
    background: #C0C0C0;
}

div.FormBorder {
    position: relative;
    width: 1080px;
    height: 800px;
}

div.FormBorderReg {
    position: relative;
    width: 1080px;
    height: 500px;
}

div.HeaderContentDiv {
    background-color: white;
    width: 855px;
    height: 200px;
    padding-bottom: 20px;
}

div.HeaderContentDivReg {
    background-color: white;
    width: 855px;
    padding-bottom: 20px;
}

h1.ContentTitle {
    text-align: center;
    padding-top: 10px;
}

#ContentParagraph1{
    padding: 10px;
    font-size:larger;
}

#FormFade {
  animation: fadein .6s;
}
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

nav.SearchNav {
    background-color: transparent;
    float: left;
    width: 225px;
    height: 720px;
    margin: 0;
    overflow: hidden;
}

nav.SearchNavReg {
    background-color: transparent;
    float: left;
    width: 225px;
    height: 565px;
    margin: 0;
    overflow: hidden;
}

#SearchListDB {
    max-height: 660px;
}

#SearchListDBReg {
    max-height: 500px;
}

/*Search Box Div positioning (Searchbox Positioning)*/
.DonorSearch {
    padding: 10px 25px 19px 13px;
}
/*Search Box Size & Traits*/
#SearchBox {
    width: 100%;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border:solid 1px black;
    padding:5px;
    font-size: 18px;
}

div.DonorList {
    padding: 0px 10px 0px 10px;
}

ul.grow {
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:solid 1px black;
    background: white;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* Change background color of <li> rows on hover */
ul.grow li:hover {background-color: darkgray;}

/* Create an active/current <li> row */
ul.grow li:focus, .active {background-color: darkgray;}

div.ContentDiv {
    height: 720px;
    overflow: hidden;
}

div.ContentDivReg {
    height: 564px;
    overflow: hidden;
}