html { 
  background: url(../Images/Leadership_Assets/Leadership_Home.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0; height: 100%; overflow: hidden
}

* { margin: 0; padding: 0; font-family: Helvetica;
}

.LiLink {
  color: black; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* ************** */

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ************************ */

table {
    margin-right: 610px;
}

td {
    font-size: 25px;
}

    td.ScholarTd {
        font-size: 25px;
        text-align: center;
        padding: 5px;
    }
    td.ScholarTd2 {
        font-size: 25px;
        text-align: center;
        width: 40%
    }

    td.FounderName {
        padding-right: 450px;
    }

    td.CornerstoneName {
        padding: 0px 183px;
        text-align: center;
        font-size: 35px;
    }
    td.PrimaryTdCSS {
        padding: 0px 100px;
        text-align: center;
        font-size: 35px;
    }
    td.RoundtableTdCSS {
        padding: 0px 100px;
        text-align: center;
        font-size: 35px;
    }
    td.SecondaryTdCSS {
        padding: 0px 100px;
        text-align: center;
        font-size: 35px;
    }
    td.CenturyTdCSS {
        padding: 0px 100px;
        text-align: center;
        font-size: 35px;
    }
    td.OtherDonorTdCSS {
        padding: 0px 100px;
        text-align: center;
        font-size: 35px;
    }

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 71.4%;
}

ul.subtab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #ccc;
    width: 71.4%;
}

/* Float the list items side by side */
ul.tab li {float: left;}
ul.subtab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 3px 5px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.subtab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 3px 5px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

ul.subtab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}
ul.subtab li a:focus, .active {background-color: #f1f1f1;}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
    overflow: hidden;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.footer {
    height:50px;
    position: fixed;
    bottom:170px;
    width: 100%;
}

footer {
    margin: 100px 0px 0px 850px;
    width: 1080px;
    height: 210px;
}

div.FormBorder {
    margin: 80px 393px;
    width: 1080px;
    height: 500px;
}

nav.SearchNav {
    background-color:yellow;
    float: left;
    width: 225px;
    height: 500px;
    margin: 0;
    overflow: hidden;
}

/*Search Box Div positioning (Searchbox Positioning)*/
.DonorSearch {
    padding: 19px 25px 19px 13px;
}
/*Search Box Size & Traits*/
#SearchBox {
    width: 100%;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:solid 1px black;
    padding:5px;
    font-size: 18px;
}

div.DonorList {
    padding: 0px 10px 0px 10px;
}

ul.grow {
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:solid 1px black;
    max-height: 420px;
    background: white;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* Change background color of <li> rows on hover */
ul.grow li:hover {background-color: darkgray;}

/* Create an active/current <li> row */
ul.grow li:focus, .active {background-color: darkgray;}

div.ContentDiv {
    background-color:blue;
    height: 500px;
    overflow: hidden;
}

div.template {
    height: 610px;
    overflow-y: scroll;
}

div.leaderdiv {
    float:none;
    height: 480px;
    width: auto;
    margin-left: 420px;
    margin-top: 25px;
}

div.menubar {
    width: 180px; height: 210px;
    float: left;
    transition:height .4s;
}
div.one {
    background-color:LightSteelBlue;
}
div.two {
    background-color:lightblue;
}
div.three {
    background-color:darkgray;
}
div.four {
    background-color:tan;
}
div.five {
    background-color:Silver;
}
div.six {
    background-color:darkseagreen;
}
div.seven {
    background-color: palevioletred;
}
div.eight {
    background-color: lightcoral
}

img.icon {
    display: block;
    width: 40px;
    margin: 40px auto;
    padding: 20px;
    background: rgba(255,255,255,.3);
    border-radius: 50%;
    box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0);
    transition:box-shadow .4s;

}
p.label {
    font-size: 1.1em;
    color: black;
    text-align: center;
    opacity: .6;
    padding-top:10px;
    position:relative;
    transition: padding-top .4s;
}
div.menubar:hover {
    height: 230px;
}
div.menubar:hover p.label {
    padding-top: 30px;opacity: 1;
}
div.menubar:hover img.icon {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .7);
}