table
        {
            border-collapse: collapse;
            display: block;
            width: 100%;
        }
    table caption {
        font-weight: bold;
    }
        table th
        {
            color: #333;
            font-weight: bold;
            padding: 2px 2px 2px 2px;
            
        }
        table th, table td
        {
            border: 2px solid #1c2957; 
        }

tr.rowOdd {
    background: white;
}
tr.rowEven {
    background: white;
}

